---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SubPageHeader from '../components/SubPageHeader.astro';
import GrouppedAirConditioners from '../components/GrouppedAirConditioners.astro';
const allAirConditionerBrands = await getCollection("air-conditioner-brands");
---

<Layout title="Klimatyzacje">
	<Header></Header>
	<SubPageHeader subPageName="Klimatyzacje"/>
	<section>
		<ul>
            {
                 allAirConditionerBrands.map((allAirConditionerBrand, index) => (
                    <GrouppedAirConditioners key={index} brandName={allAirConditionerBrand.data.brandName} expanded={allAirConditionerBrand.data.expanded}/>
                ))
              }
        </ul>
	</section>
	<Footer></Footer>
</Layout>

<style>
	section {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	ul {
		width: var(--width-for-mobile);
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	@media (min-width: 1024px) {
    	ul {
        	width: var(--width-for-desktop);
    	}
	}
</style>