---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import Service from "../components/Service.astro";
---

<Layout title="Serwis">
	<Header></Header>
	<div>
        <h1>Serwis</h1>
    </div>
	<ul>
		{
			 allPosts.map((post, index) => (
        		<Service key={index} title={post.data.title} price={post.data.price} description={post.data.description}/>
    		))
		  }
	</ul>
	<Footer></Footer>
</Layout>

<style>
	ul {
		padding: 0 0 16px 0;
		margin: 0;
	}
	div {
        width: 100%;
        background-color: var(--main-blue-color);
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }
    h1 {
        color: var(--white-text-color);
        padding: 30px 0 30px 0;
        margin: 0;
        font-size: var(--font-size-xl);
        width: var(--width-for-mobile);
		font-family: var(--root-font-family);
    }
	@media (min-width: 1024px) {
    h1 {
        width: var(--width-for-desktop);
    }
}
</style>