---
import SubPageHeader from '../components/SubPageHeader.astro';
---

<section>
    <SubPageHeader subPageName="Kontakt"/>
    <div class="address-and-map">
        <div class="address-and-working-hours">
            <address>
                <div>
                    <h4 class="company-name">MS INSTALBUD</h4>
                    <p>ul. Pyskowicka 24, 41-807 Zabrze</p>
                </div>
                <div class="phone">
                    <img src="/images/whatsapp-icon.png" alt="Ikona telefonu" class="phone-icon">
                    <p><a href="tel:+64323737930">32 37 37 930</a></p>
                </div>
                <div class="email">
                    <img src="/images/email-icon.png" alt="Ikona e-maila" class="email-icon">
                    <p><a href="mailto:asfvdsngfm@gmail.com">asfvdsngfm@gmail.com</a></p>
                </div>
            </address>
            <div class="working-hours">
                <h4>Godziny Pracy</h4>
                <p>Poniedzialed-Piatek: 08:00-16:00</p>
            </div>
        </div>
        <a href="https://maps.app.goo.gl/LVbv9pBAxVzw2NQu7" class="google-maps-image">
            <img src="/images/map.png" alt="Mapa Map Google">
        </a>
    </div>
</section>

<style>
    section {
        font-family: var(--root-font-family);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .address-and-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: var(--width-for-mobile);
        font-size: var(--font-size-m);
    }
    address {
        font-style: normal;
    }
    .phone, .email {
        display: flex;
        align-items: center;
        padding-top: 8px;
    }
     .phone-icon, .email-icon {
        width: 30px;
        padding-right: 8px;
    }
    h4, p {
        margin: 0
    }
    a {
        color: var(--black-text-color);
    }
    .company-name {
        padding: 30px 0 8px 0;
    }
    .working-hours {
        padding-top: 50px;
    }
    .working-hours p {
        padding-top: 8px;
    }
    .google-maps-image {
        padding: 30px 0 30px 0;
    }
    .google-maps-image img {
        width: 100%;
    }
    @media (min-width: 1024px) {
        .address-and-map {
            flex-direction: row;
            justify-content: space-between;
            width: var(--width-for-desktop);
        }
        .google-maps-image {
            width: calc(80% * 2 / 3);
        }
    }
</style>