---
import Logo from "./Logo.astro";
---
<script>
</script>

<section class="header">
    <div class="header-content">
        <a class="logo-part" href="/">
            <Logo></Logo>
            <h2 id="logo-header"><span class="m-letter">M</span><span class="s-letter">S</span> INSTALBUD</h2>
        </a>
        <nav>
            <ul>
                <li><a href="/o-nas">O nas</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/realizacje">Realizacje</a></li>
                <li><a href="/serwis">Serwis</a></li>
                <li><a href="/certifikaty">Certifikaty</a></li>
                <li><a href="/klimatyzacje">Klimatyzacje</a></li>
                <li><a href="/wentylacja">Wentylacja</a></li>
                <li><a href="/pompy-ciepla">Pompy Ciepła</a></li>
            </ul>
        </nav>
    </div>
</section>

<style>
    .header {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        transition: top 0.3s;
        width: 100%;
        background-color: var(--main-background-color);
        z-index: 2;
    }
    .header-hidden {
        top: -74px; 
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        width: var(--width-for-desktop);
        font-family: var(--root-font-family);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo-part {
        display: flex;
        align-items: center;
        padding-left: 0;
    }
    #logo-header {
        font-size: var(--font-size-xl);
        color: var(--main-blue-color);
        padding-left: 6px;
        font-weight: bold;
        margin: 0;
    }
    .m-letter {
        color: var(--main-blue-color);
    }
    .s-letter {
        color: var(--main-red-color);
    }
    ul, nav {
        display: flex;
        align-items: center;
        margin: 0;
    }
    ul {
        padding: 0;
    }
    li {
        display: flex;
        list-style-type: none;
        align-content: center;
    }
    a {
        font-size: var(--font-size-s);
        padding-left: 20px;
        cursor: pointer;
        text-decoration: none;
        color: var(--main-text-color);
    }
    a:hover {
        color: var(--main-red-color);
    }
    .active {
        color: var(--main-red-color);
        font-weight: bold;
    }

    @media (max-width: 1024px) {
        .header-content {
        width: var(--width-for-mobile);
        }
    }
    @media (max-width: 910px) {
        a {
            padding-left: 10px;
        }
    }
    @media (max-width: 768px) {
        .header {
            display: none;
        }
    }
</style>