---
---

<section>
    <img src="../../public/images/realizacje.jpg" class="image-1" alt="Zdjęcie pokoju z klimatyzacją">
    <img src="../../public/images/realizacje-2.jpg" class="image-2" alt="Zdjęcie pokoju z klimatyzacją">
    <a href="./realizacje">
        <h4>Realizacje</h4>
    </a>
</section>

<style>
    section {
        font-family: var(--root-font-family);
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    img {
        width: 100%;
        opacity: 0.4;
    }
    .image-2 {
        display: none;
    }
    a {
        display: block;
        position: absolute;
        top: 40px;
        text-decoration: none;
        background-color: var(--main-blue-color);
        padding: 10px 20px 10px 20px;
        z-index: 1;
        box-shadow: rgb(0, 14, 22) 0px 2px 6px;
        width: 220px;
        transition: transform 0.5s ease-in-out;
    }
    a:hover, a:active {
        transform: scale(1.1);
    }
    h4 {
        color: var(--white-text-color);
        font-size: var(--font-size-xl);
        padding: 20px 0  20px 0;
        margin: 0;
        text-align: center;
    }
    @media (min-width: 720px) {
        .image-1 {
            display: none;
        }
        .image-2 {
            display: block;
        }
        a {
            top: 140px;
            width: 440px;
            padding: 40px 40px 40px 40px;
        }
        h4 {
            font-size: var(--font-size-xxl);
        }
    }
    @media (min-width: 1024px) {
        img {
            width: var(--width-for-desktop);
        }
    }
</style>