---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Air conditioner" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Air conditioner</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-size: 16px;
	}
	:root {
		--width-for-desktop: 80%;
		--width-for-mobile: 96%;
		--full-width: 100%;
		--seperator-border-color: rgb(225, 222, 222);
		--main-background-color: white;
		--white-text-color: white;
		--light-gray-color: rgb(243, 243, 243);
		--very-light-gray-color: rgb(249, 248, 248);
		--black-text-color: black;
		--root-font-family: Arial, Helvetica, sans-serif;
		--font-size-xs: 0.6rem;
		--font-size-s: 0.8rem;
		--font-size-m: 1rem;
		--font-size-l: 1.2rem;
		--font-size-xl: 1.4rem;
		--font-size-xxl: 2rem;
		--light-font-weight: 100;
		--main-blue-color: rgb(0, 107, 163);
		--main-red-color: rgb(220, 5, 31);
		--light-blue-color: rgba(0, 107, 163, 0.12)
	}
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		margin: 0;
		scroll-behavior: smooth;
	}
</style>

