---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Air conditioner" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Air conditioner</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--width-for-desktop: 80%;
		--full-width: 100%;
		--seperator-border-color: rgb(225, 222, 222);
		--root-font-family: Arial, Helvetica, sans-serif;
		--font-size-xs: 10px;
		--font-size-s: 12px;
		--font-size-m: 14px;
		--light-font-weight: 100;
		--main-blue-color: rgb(0, 107, 163);
		--main-red-color: rgb(220, 5, 31);
	}
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		margin: 0;
		scroll-behavior: smooth;
	}
</style>
